/**
 * Styles de la Moulinette
 */
.error {
	padding: 2rem;
	border: 0.2rem solid #a51404;
	color: #a51404;
}

/**
 * Surcharge de la CSS de Copsaé
 */

/* En-tête */
.site-branding {
	padding: 1rem 0;
}

.moulinette-title-description {
	font-size: 2rem;
	font-weight: normal;
}

.site-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 0;
}

.site-logo img {
	display: inline-block;
	max-width: 9rem;
}

.copsae-logo {
	margin-right: 2rem;
}

.site-description {
	display: block;
	margin-top: 1.5rem;
	text-align: center;
}

@media screen and (min-width:29em) {
	
	.site-logo img {
		max-width: 11rem;
	}
}

@media screen and (min-width: 40em) {

	.moulinette-title-description {
		display: flex;
		align-items: center;
		column-gap: 2rem;
	}

	.site-logo {
		justify-content: flex-start;
	}

	.site-logo img {
		max-width: 13rem;
	}

	.site-description {
		margin-top: 0;
		text-align: left;
	}
}

@media screen and (min-width:64em) {
	
	.moulinette-title-description {
		font-size: 2.5rem
	}

	.site-logo img {
		max-width: 16rem;
	}
}

/* Formulaire */
.form-field-group {
	margin-bottom: 3rem;
}

.form-label-text {
	display: block;
	font-weight: bold;
}

/* Champ fichier */
.form-label-file-btn {
	display: inline-block;
	margin-top: 1rem;
	padding: 0.5rem 1rem 0.5rem 1rem;
	background-color: #FFF;
	border-radius: 1rem;
	border: 0.2rem solid #266077;
	color: #266077;
	font-weight: bold;
	font-size: 0.9em;
	cursor: pointer;
}

.form-label-file:hover .form-label-file-btn,
.form-label-file.has-focus .form-label-file-btn {
	background-color: #266077;
	border-color: #FFF;
	color: #FFF;
}

.form-label-file.has-focus .form-label-file-btn {
	outline: 0.2rem dashed #266077;
}

.form-file-information {
	margin-top: 0.5rem;
	font-size: 0.9em;
}
